<div class="center">
  <h1>Calculadora de inversion a un banco</h1>
  <p>
    En esta app puedes simular la inversion de tu capital en un banco y saber
    cuanto dinero ganaras despues de un mes si el banco paga a razon de 2%
    mensual o el porcentaje que quieras calcular!
  </p>
  <form action="result">
    <input
      type="number"
      name="number1"
      onkeyup="oneDot(this)"
      placeholder="Cantidad de tu capital"
      required
    />
    <br />
    <br />
    <input
      type="number"
      name="percentage"
      placeholder="% Porcentaje Paga a razon mensual"
      required
    />
    <br />
    <br />
    <button type="submit" name="multiply">Obtener Resultado!</button>
  </form>
</div>
<style>
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .center {
    margin: auto;
    width: 60%;
    border: 3px solid #a5addb;
    padding: 10px;
  }
  input {
    width: 16rem;
  }
</style>
