<div class="center">
  <h1>Calculadora Basica</h1>

  <form action="result">
    <input
      type="number"
      name="number1"
      placeholder="Enter first number"
      required
    />
    <br />
    <br />
    <input
      type="number"
      name="number2"
      placeholder="Enter second number"
      required
    />
    <br />
    <br />
    <button type="submit" name="add">Sumar</button>
    <button type="submit" name="subtract">Restar</button>
    <button type="submit" name="multiply">Multiplicar</button>
    <button type="submit" name="divide">Dividir</button>
  </form>
</div>

<style>
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .center {
    margin: auto;
    width: 60%;
    border: 3px solid #a5addb;
    padding: 10px;
  }
</style>
